{% import 'views-work/_macros.twig' as vcp %}
{% set status = craft.views_work_cp.blockStatus %}

<div class="content-pane">
    <h2>{{ vcp.t('Block registrations') }}</h2>

    {% if status.blocked %}
        <span class="vw-badge vw-badge-secondary">{{ 'REGISTRATION FOR THIS BROWSER: OFF' | t('views_work') }}</span>
    {% else %}
        <span class="vw-badge vw-badge-success">{{ 'REGISTRATION FOR THIS BROWSER: ON' | t('views_work') }}</span>
    {% endif %}

    <p>{{ vcp.t('To exclude yourself or others from view registrations, you can visit one of the following links.') }}</p>

    {% set url = craft.views_work_cp.cookieBlockUrl %}
    <p><a href="{{ url }}" target="_blank" class="vw-badge vw-badge-danger">{{ vcp.t('DISABLE') }}</a> {{ vcp.t('To exclude a browser from registrations:') }}</p>
    <div class="vw-bg-gray-100 vw-p-2"><code>{{ url }}</code></div>

    {% set url = craft.views_work_cp.cookieUnblockUrl %}
    <p><a href="{{ url }}" target="_blank" class="vw-badge vw-badge-success">{{ vcp.t('ENABLE') }}</a> {{ vcp.t('To include a browser from registrations:') }} </p>
    <div class="vw-bg-gray-100 vw-p-2"><code>{{ url }}</code></div>

    <p><span class="vw-text-xs">{{ vcp.t('Note: after visiting the block/unblock urls, you need to reload this page to view the right status') }}</span></p>
</div>