{% import 'views-work/_macros.twig' as vcp %}

<div class="content-pane">
    <h2>{{ vcp.t('Quick start') }}</h2>

    <h3>{{ vcp.t('Measurement pixel') }}</h3>
    <p>
        {{ vcp.t('Include the following tag on your pages. It will create a small pixel image to measure the views for your `entry`.') }}
    </p>
    <pre class="vw-bg-gray-100 vw-p-2 vw-overflow-auto"><code>{% verbatim %}{{ entry | views_work_image }}{% endverbatim %}</code></pre>

    <h3>{{ vcp.t('Showing popular items') }}</h3>
    <p>

        {{ vcp.t('To retrieve the 5 most popular items viewed today, you can simply do in twig:') }}
    <pre class="vw-bg-gray-100 vw-p-2 vw-mt-2 vw-mb-2 vw-overflow-auto"><code>{% verbatim %}{% set popularEntries = craft.entries.orderByPopular('day', 1).limit(5).all %}{% endverbatim %}</code></pre>

    {{ vcp.t('Instead of `day`, you can also use `total`, `week` or `month`:') }}
    <pre class="vw-bg-gray-100 vw-p-2 vw-mt-2 vw-mb-2 vw-overflow-auto"><code>{% verbatim %}{% set popularEntries = craft.entries.orderByPopular('total', 1).limit(5).all %}{% endverbatim %}</code></pre>
    {{ vcp.t('(the number 1 is the minimum number of times viewed.)') }}
    </p>
</div>