{% import 'views-work/_macros.twig' as vcp %}

<div class="content-pane">
    <h2>{{ vcp.t('Twig Integration') }}</h2>

    <h3>{{ vcp.t('Measurement pixel') }}</h3>
    <p>
        {{ vcp.t('Include the following tag on your pages. It will create a small pixel image to measure the views for your `entry`.') }}
    </p>
    <pre class="vw-bg-gray-100 vw-p-2 vw-overflow-auto"><code>{% verbatim %}{{ entry | views_work_image }}{% endverbatim %}</code></pre>

    <h3>{{ vcp.t('Showing popular items') }}</h3>
    <p>
        {{ vcp.t('To show the 5 most popular items viewed today, you can do in twig:') }}
    <pre class="vw-bg-gray-100 vw-p-2 vw-mb-2 vw-overflow-auto"><code>{% verbatim %}{% set query = craft.entries.limit(5) %}
{% do craft.views_work.sortPopular(query, 'today', {min_views: 1}) %}
{% set articles = query.all %}{% endverbatim %}</code></pre>

    {{ vcp.t('Instead of `today`, you can also use `total`, `thisWeek` or `thisMonth`.') }}
    </p>
</div>