{% extends 'views-work/cp/_layouts' %}

{% set title = 'Views Work - block/unblock registration with a cookie' | t('views-work') %}
{% set selectedSubnavItem = 'block' %}

{% block content %}



    <p>
        <strong>
            {{ 'You can prevent view registrations for yourself or other users by clicking on the urls below.' | t('views-work') }}
        </strong>
    </p>

    <p>
        {{ 'Current status for this browser:' | t('views-work') }}
        {% set status = craft.views_work.blockStatus %}
        {% if status.blocked %}
            <span class="vw-badge vw-badge-secondary">{{ 'REGISTRATION: OFF' | t('views_work') }}</span>
        {% else %}
            <span class="vw-badge vw-badge-success">{{ 'REGISTRATION: ON' | t('views_work') }}</span>
        {% endif %}

    </p>
    <hr/>

    <div class="vw-grid vw-grid-cols-12 vw-gap-2 vw-gap-y-6">
        <div class="vw-col-span-10">
            <strong>{{ 'TO BLOCK' | t('views-work') }}:</strong>
            <br/>
            {% set url = craft.views_work.cookieBlockUrl %}
            {{ url }}
        </div>
        <div class="vw-col-span-2">
            <a href="{{ url }}" target="_blank"
               class="vw-btn vw-btn-danger vw-float-right vw-w-full">{{ 'block now' | t('views-work') }}</a>
        </div>

        <div class="vw-col-span-10">
            <strong>{{ 'TO UNBLOCK' | t('views-work') }}:</strong>
            <br/>
            {% set url = craft.views_work.cookieUnblockUrl %}
            {{ url }}
        </div>
        <div class="vw-col-span-2">
            <a href="{{ url }}" target="_blank"
               class="vw-btn vw-btn-info vw-float-right vw-w-full">{{ 'unblock now' | t('views-work') }}</a>
        </div>

        <div class="vw-col-span-12">
            {% set url = craft.views_work.cookieBlockStatusUrl %}
            <a href="{{ url }}" target="_blank">View the current status</a> at {{ url }}
        </div>

    </div>

{% endblock %}