{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Views Work plugin for Craft CMS
 *
 * ViewsWorkWidget Widget Settings
 *
 * @author    24hoursmedia
 * @copyright Copyright (c) 2018 24hoursmedia
 * @link      http://www.24hoursmedia.com
 * @package   ViewsWork
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("twentyfourhoursmedia\\viewswork\\assetbundles\\ViewsWork\\ViewsWorkAsset") %}

{{ forms.textField({
    label: 'Number of items',
    instructions: 'Number of popular items to show',
    id: 'count',
    name: 'count',
    value: widget['count']})
}}

{% set sectionInput %}
    <div class="select">
        <select id="section" name="section">
            <option value="*">{{ "All"|t('app') }}</option>
            {% for section in craft.app.sections.getAllSections() %}
                {% if section.type != 'single' %}
                    <option value="{{ section.id }}"{% if section.id == widget.section %} selected{% endif %}>{{ section.name|t('site') }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
{% endset %}

{{ forms.field({
    label: "Section"|t('app'),
    instructions: "Which section do you want to pull popular entries from?"|t('views-work'),
    id: 'section',
}, sectionInput) }}


<br/>
Show total:
{{ forms.lightswitch({
    label: 'Show all time',
    id: 'showTotal',
    name: 'showTotal',
    on: widget['showTotal']})
}}

<br/>
Show monthly:
{{ forms.lightswitch({
    label: 'Show monthly',
    id: 'showMonthly',
    name: 'showMonthly',
    on: widget['showMonthly']})
}}

<br/>
Show weekly:
{{ forms.lightswitch({
    label: 'Show weekly',
    id: 'showWekly',
    name: 'showWeekly',
    on: widget['showWeekly']})
}}

<br/>
Show daily:
{{ forms.lightswitch({
    label: 'Show daily',
    id: 'showDaily',
    name: 'showDaily',
    on: widget['showDaily']})
}}