{% import 'views-work/_macros' as cpmacros %}
{% import _self as _macros %}
{% do view.registerAssetBundle("twentyfourhoursmedia\\viewswork\\assetbundles\\viewswork\\ViewsWorkAsset") %}


<div class="vw-pb-2">
{% if total > 0 %}
    <span class="vw-badge vw-badge-circle vw-badge-info">{{ total }}</span> {{ 'items being viewed.' | t('views-work') }}
{% else %}
    {{ 'No items being viewed.' | t('views-work') }}
{% endif %}
</div>


{% if items | length > 0 %}
<div class="vw-grid vw-grid-cols-12 vw-gap-1 vw-pb-2">
    {% for item in items %}
        {% set views = craft.views_work_cp.recording(item) %}
        {# views \twentyfourhoursmedia\viewswork\models\ViewRecording #}
        {% set url = item.cpEditUrl %}

        <div class="vw-col-span-10">
            {% if url is empty %}
                <div class="vw-overflow-ellipsis vw-truncate"><span>{{ item.title }}</span></div>
            {% else %}
                <div class="vw-overflow-ellipsis vw-truncate">
                    <a href="{{ url }}">{{ item.title }}</a>
                </div>

            {% endif %}
        </div>
        <div class="vw-col-span-2">
            <div class="vw-ml-1 vw-text-right">
                {% set url = item.url | trim %}
                {% if not ('?' in url) %}
                    {% set url = url ~ '?' %}
                {% endif %}
                {% set url = url ~ 'vw-skip-reg=1' %}
                {% if url %}
                    <a href="{{ url }}" target="_blank" data-icon="world"></a>
                {% endif %}
            </div>
        </div>

    {% endfor %}
</div>
{% endif %}

{% include 'views-work/_partials/widget_footer.twig' %}